* {
    font-family: 'Changa', sans-serif;
  }

  datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }
  
  fieldset{
      background-color: aliceblue ;
  }
  
  body{
      background-color: rgb(227, 239, 246) ;
  }
  
  h1{
      color: #0F6292;;
  }
  
  h2{
      color: #0F6292;;
  }
  
  h3{
      color: #0F6292;;
  }
  
  h4{
      color: #0F6292;;
  }
  
  h5{
      color: #0F6292;;
  }
  
  h6{
      color: #0F6292;;
  }
  
  a:hover{
      color: #0F6292;;
  }
  
  a::after {
      content: '';
  }
  
  a::before{
      content: '📍';
  }
  
  tr:nth-child(even){
      background-color: #0F6292;
  }
  
  tr:nth-child(odd){
      background-color: #2D93CF;
  }